<a href="https://colab.research.google.com/github/JBtallgrass/UPENN_GSE_collab/blob/main/DS_Methods_Data_Management_and_Database_Access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS Methods - Data Management and Database Access Notebook

######

## 1. Connecting to MySQL and Querying Data with MySQL Connector

### 1.1 Install the MySQL Connector Package

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 35.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

### 1.2 Import MySQL Connector

In [ ]:
import mysql.connector

### 1.3 Connect to MySQL by providing the connection parameters:
    - usename: dsmethods_student
    - password: dsmethods_student
    - host: dsmethods-sample-database.ckpjakz3adxb.us-east-2.rds.amazonaws.com
    - database: employees

In [ ]:
cnx = mysql.connector.connect(user="dsmethods_student", password="dsmethods_student", host="dsmethods-sample-database.ckpjakz3adxb.us-east-2.rds.amazonaws.com", database="employees")

### 1.4 Let's run the same queries as before:

#### 1.4.1 How many employees?

In [ ]:
cursor = cnx.cursor()

In [ ]:
query = ("select count(*) from employees;")

In [ ]:
cursor.execute(query)

In [ ]:
for result in cursor:
    assert result[0] == 300024

#### 1.4.2 How many departments?

In [ ]:
query = ("select count(8) from departments;")

In [ ]:
cursor.execute(query)

In [ ]:
for result in cursor:
    assert result[0] == 9

#### 1.4.3 How many unique first names

In [ ]:
query = ("select count(distinct(first_name)) from employees;")

In [ ]:
cursor.execute(query)

In [ ]:
for result in cursor:
    assert result[0] == 1275

#### 1.4.4 Get the employee id with the highest salary

In [ ]:
query = ("select emp_no from salaries order by salary desc limit 1;")

In [ ]:
cursor.execute(query)

In [ ]:
for result in cursor:
    assert result[0] == 43624

#### 1.4.5 Who is the highest paid employee in the entire organization?

In [ ]:
query = ("select * from employees where emp_no = (select emp_no from salaries order by salary desc limit 1);")

In [ ]:
cursor.execute(query)

In [ ]:
for (_,_,first_name,last_name,_,_) in cursor:
    assert first_name + ' ' + last_name == 'Tokuyasu Pesch'

#